.textField {
    position: relative;
    width: 90%;
    height: 5%;
    padding: 10px;
}

#textArea {
    width: 90%;
    height: 20%;
    padding: 10px;
}

.button {
    position: relative;
    background-color: rgb(78, 170, 164);
    width: 100px;
    height: 40px;
    color: #ffffff;
    font-size: 20px;
}