@import url("https://fonts.googleapis.com/css?family=Turret+Road&display=swap");

.footer {
    background: rgb(102, 102, 102);
    border-top-style: solid;
    border-top-color: rgb(78, 170, 164);
    border-top-width: 5px;
    margin-left: -10px;
    position: fixed;
    bottom: 0;
    width: 100%;
 }
 
 .footerDiv {
    width: 30%;
    height: 100%;
 }

 .footerText {
    color: #ffffff;
    text-align: center;
    background: rgb(102, 102, 102);
 }